#cadastro{
  font-family: Arial;
  color: #f44336;
}

h2{
  margin-top: -0.5em;
  margin-left: -0.4em;
  margin-right: -0.4em;
  font-family: Arial;
  color: white;
  background-color: #f44336;
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

label{
  font-weight: bold;
  font-family: Arial;
  color: #f44336;
}

input[type=text], input[type=password], select, option{
  border-style: solid;
  border-color: #f44336;
  background: white;
  color: #002B38
}

input[type=submit], input[type=reset]{
  font-weight: bold;
  background: #f44336;
  color: white;
  border-style: solid;
  border-color: #f44336;
  padding: 8px;
}

a{
  background-color: #f44336;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
