.rodape{
  position: absolute;
  bottom: 0;
  background-color: darkred;
  width: 99%;
  color: white;
}

.margem-esquerda{
  margin-top: 1rem;
  margin-left: 2rem;
}

.margem-direita{
  margin-top: 1rem;
  margin-right: 2rem;
}
