footer{
  bottom: 0px;
}

a, a:hover, a:focus{
  color: white;
}

.rodape{
  position:fixed;
  background-color: darkred;
  width: 100%;
  color: white;
  bottom: 0;
}

.margem-esquerda{
  margin-left: 2rem;
}

.margem-direita{
  margin-right: 2rem;
}

.margem-acima{
  margin-top: 1rem;
}

.fundo-menu{
  background-color: darkred;
  width: 175px;
  font-size: 16px;
  border-radius: 0px 20px 20px 0px;
  color: white;
}

.fundo{
  background: lightgray;
}

.fundo2{
  background: #D5E5F4;
}

#inputArea input[type="text"], #inputArea textarea{
      font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;
    background-color: #EDF2F7;
}

.fonte{
    font-family: Arial, Sans-Serif;
}
